.ICEauthority
.Xauthority
.adobe/
.android/
.bash_history
.bash_logout
.bash_profile
.cache/
.config/
.conkyrc~
.esd_auth
.fehbg
.filezilla/
.fonts/
.gimp-2.8/
.gitconfig
.gnupg/
.gtkrc-2.0
.icedtea/
.icons/
.java/
.lesshst
.local/
.macromedia/
.mozilla/
.mysql_history
.pki/
.pulse-cookie
.ssh/
.steam/
.steampath
.steampid
.swn
.swo
.swp
.thumbnails/
.viminfo
.w3m/
.wicd/
.wine/
.wireshark/
.xbindkeysrc.swo
Desktop/
Documents/
Downloads/
Music/
PKGBUILD
Pictures/
Public/
Templates/
Tomcat/
Videos/
VirtualBox\ VMs/
sshfs/
workspace-android/
workspace/
.dev/
.gitignore
.vim/
